@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}
/*------Header--------*/

#header{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    animation: animate 16s ease-in-out infinite;
}

@keyframes animate{
    0%,100%{
        background-image: url(assets/Img1.png);
    }
    25%{
        background-image: url(assets/Img2.png);
    }
    75%{
        background-image: url(assets/Img3.png);
    }
}

.logo{
    height: 50px;
    margin: 10px;
    cursor: pointer;
}

.container{
    padding:10px 5%;
}
nav{
    background: rgba(0, 0, 0, 0.48);
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 5%;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    font-weight: 500;
} 

nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content:'';
    width: 0;
    height: 3px;
    background-color: #6495ED;
    position: absolute;
    left: 0 ;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}

.fa-solid.fa-magnifying-glass{
    font-size: 22px;
    color: #fff;
    cursor: pointer;
}

.btn-1{
    color: #fff;
    background-color: #6495ED;
    border: 2px solid #6495ED;
    border-radius: 6px;
    padding:12px 23px;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
}

.header-text{
    margin-left: 5%;
    margin-top: 13%;
    font-size: 30px;
    left: 100%;
    display: block;
    color: #fff;
}

.btn-2{
    color: #fff;
    background-color: #6495ED;
    border: 2px solid #6495ED;
    border-radius: 3px;
    padding:18px 30px;
    font-weight: 600;
    font-size: 17px;
    cursor: pointer;
    margin-top: 1%;
    left: 100%;
    margin-left: 5%;
}

.btn-1:hover{
    background-color:#004b99;
    border: 2px solid #004b99;
}

.btn-2:hover{
    background-color:#004b99;
    border: 2px solid #004b99;
}

/*-------Purpose--------*/

#purpose{
    width: 100%;
    height: 65vh;
}

.line-1{
    position: absolute;
    width: 800.18px;
    height: 0px;
    left: 300px;
    top: 105%;
    border: 1px solid #A98A75;
}

.col{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.col-1{
    flex-basis: 30%;
}

.col-2{
    flex-basis: 35%;
}

.col-1 img{
    margin-top: 80px;
    width: 500px;
    height: 330px;
    margin-left: 150px;
}
.col-2 {
    margin-top: 80px;
    margin-right: 120px;
}

.line-2{
    position: absolute;
    width: 800.18px;
    height: 0px;
    left: 300px;
    top: 160%;
    border: 1px solid #A98A75;
}

/*-------Work----------*/
#work{
    width: 100%;
    height: 80vh;
}
.subtitle{
    display: flex;
    align-items: center;
    justify-content: center;
}
.text-1{
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-2{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logos-1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 70px;
    margin-left: 13%;
    margin-right: 13%;
}

.logos-2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
    margin-left: 30%;
    margin-right: 30%;
}
.work-img{
    text-align: center;
    cursor: pointer;
}

.work-img img{
   height: 130px;
   text-align: center;
   transition: background 0.5s, transform 0.5s;
}

.work-img img:hover{
    transform: translateY(-10px);
}

.work-img p{
    font-size: 20px;
    color: #6495ED;
    position: relative;
}

.work-img p::after{
    content:'';
    width: 0;
    height: 3px;
    background-color: #6495ED;
    position: absolute;
    left: 0 ;
    bottom: -6px;
    transition: 0.5s;
}

.work-img p:hover:after{
    width: 100%;
}

/*--Key operations---*/
#key{
    width: 100%;
    height: 70vh;
}

.map{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.map img{
    width: 80%;
    height: 100%;
}

/*-----News-----*/

#news{
    width: 100%;
    height: 80vh;
}

.text-3{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #9D8E84;
    cursor: pointer;
}

.fa-solid.fa-angle-right{
    color: #6495ED;
    margin-top:9px;
    cursor: pointer;
}

.news-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.list{
    border: 0.5px solid black;
    width: 370px;
    height: 480px;
    cursor: pointer;
}

.list p{
    margin-top: 9px;
    color: #6495ED;
    text-align: center;
}

.list h3{
    margin-top: 15px;
    text-align: center;
}

/*----Footer-----*/
#footer{
    width: 100%;
    height: 60vh;
    background-color: #19376D;
}

.socials{
    width: 250px;
    color: #fff;
    margin-top: 3%;
    text-align: center;
    display: inline-block;
}

.socials p{
    margin-top: 20px;
}
.socials img{
    height: 35px;
    margin-top: 20px;
}

.useful-link{
    display: inline-block;
    left: 30%;
    position: absolute;
    margin-top: 80px;
}

.ft-head{
    color: #fff;
    margin-top: 90px;
    margin-top: 2px;
}

.useful-link a{
    color: #fff;
    text-decoration: none;
}

.contact{
    display: inline-block;
    position: absolute;
    left: 46%;
    margin-top: 80px;
}

.contact p{
    color: #fff;
}

.contact a{
    color: #fff;
}

.newsletter{
    display: inline-block;
    position: absolute;
    left: 70%;
    margin-top: 80px;
}

.newsletter p{
    color: #fff;
}

.newsletter input{
    width: 240px;
    height: 40px;
    padding: 8px;
    outline: none;
}

.newsletter button{
    width: 100px;
    height: 39px;
    color: #fff;
    background-color: #6495ED;
    outline: none;
    border: 2px solid #6495ED;
    cursor: pointer;
}

.bottom{
    background-color: #000;
    margin-top: 76px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bottom span{
    margin-left: 150px;
}

.bottom a{
    margin-right: 80px;
}
