@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}
/*------Header--------*/

#header{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    animation: animate 16s ease-in-out infinite;
}

@keyframes animate{
    0%,100%{
        background-image: url(assets/Img1.png);
    }
    25%{
        background-image: url(assets/Img2.png);
    }
    75%{
        background-image: url(assets/Img3.png);
    }
}

.logo{
    height: 50px;
    margin: 1%;
    cursor: pointer;
}

.container{
    padding:10px 5%;
}
nav{
    background: rgba(0, 0, 0, 0.48);
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 5%;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    font-weight: 500;
} 

nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content:'';
    width: 0;
    height: 3px;
    background-color: #6495ED;
    position: absolute;
    left: 0 ;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}

.fa-solid.fa-magnifying-glass{
    font-size: 22px;
    color: #fff;
    cursor: pointer;
}

.btn-1{
    color: #fff;
    background-color: #6495ED;
    border: 2px solid #6495ED;
    border-radius: 6px;
    padding:12px 23px;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
}

.header-text{
    margin-left: 5%;
    margin-top: 13%;
    font-size: 30px;
    left: 100%;
    display: block;
    color: #fff;
}

.btn-2{
    color: #fff;
    background-color: #6495ED;
    border: 2px solid #6495ED;
    border-radius: 3px;
    padding:18px 30px;
    font-weight: 600;
    font-size: 17px;
    cursor: pointer;
    margin-top: 1%;
    left: 100%;
    margin-left: 5%;
}

.btn-1:hover{
    background-color:#004b99;
    border: 2px solid #004b99;
}

.btn-2:hover{
    background-color:#004b99;
    border: 2px solid #004b99;
}

/*-------Purpose--------*/

#purpose{
    width: 100%;
    height: 65vh;
}

.line-1{
    width: 60%;
    left: 0%;
    margin-top: 2%;
    border: 1px solid #A98A75;
}

.col{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.col-1{
    flex-basis: 30%;
}

.col-2{
    flex-basis: 35%;
}

.col-1 img{
    margin-top: 4%;
    height: 75%;
    margin-left: 30%;
}
.col-2 {
    margin-top: 2%;
    margin-right: 12%;
}
.line-2{
    width: 60%;
    left: 0%;
    height:0% ;
    margin-top: -4.5%;
    border: 1px solid #A98A75;
}

/*-------Work----------*/
#work{
    width: 100%;
    height: 80vh;
}
.subtitle-1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -6%;
}
.text-1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.6%;
}

.text-2{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logos-1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4%;
    margin-left: 13%;
    margin-right: 13%;
}

.logos-2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5%;
    margin-left: 30%;
    margin-right: 30%;
}
.work-img{
    text-align: center;
    cursor: pointer;
}

.work-img img{
   height: 130px;
   text-align: center;
   transition: background 0.5s, transform 0.5s;
}

.work-img img:hover{
    transform: translateY(-10px);
}

.work-img p{
    font-size: 20px;
    color: #6495ED;
    position: relative;
}

.work-img p::after{
    content:'';
    width: 0;
    height: 3px;
    background-color: #6495ED;
    position: absolute;
    left: 0 ;
    bottom: -6px;
    transition: 0.5s;
}

.work-img p:hover:after{
    width: 100%;
}

/*--Key operations---*/
#key{
    width: 100%;
    height: 70vh;
}

.subtitle-2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -9%;
}

.map{
    margin-top: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.map img{
    width: 80%;
    height: 100%;
}

/*-----News-----*/

#news{
    width: 100%;
    height: 80vh;
}

.subtitle-3{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -7%;
}

.text-3{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #9D8E84;
    cursor: pointer;
    margin-top: 0.5%;
}

.fa-solid.fa-angle-right{
    color: #6495ED;
    margin-top:9px;
    cursor: pointer;
}

.news-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap: 2%;
    margin-top:2%;
    margin-left: 3%;
}

.list{
    border: 0px solid black;
    height: 111%;
    cursor: pointer;
    left: 10%;
}

.list img{
    position: relative;
    height: 62%;
}

.list p{
    margin-top: 3%;
    color: #6495ED;
    font-weight: 500;
    
}

.list h3{
    margin-top: 3%;
    font-size: 18px;
    font-weight: 500;
   
}

/*----Footer-----*/
#footer{
    width: 100%;
    height: 46vh;
    background-color: #19376D;
    margin-top: -10%;
}

.socials{
    width: 250px;
    color: #fff;
    margin-top: 3%;
    text-align: center;
    display: inline-block;
}

.socials p{
    margin-top: 3%;
}
.socials img{
    height: 35px;
    margin-top: 7%;
}

.logo-4{
    height: 90px;
}

.useful-link{
    display: inline-block;
    position: relative;
    margin-left: 5%;
}

.ft-head{
    color: #fff;
}

.useful-link a{
    color: #fff;
    text-decoration: none;
}

.contact{
    display: inline-block;
    position: relative;
    margin-left: 5%;
}

.contact p{
    color: #fff;
}

.contact a{
    color: #fff;
}

.newsletter{
    display: inline-block;
    margin-left: 5%;
    position: relative;
    top: -48px;
}

.newsletter p{
    color: #fff;
}

.newsletter input{
    width: 240px;
    height: 40px;
    padding: 8px;
    outline: none;
}

.newsletter button{
    width: 100px;
    height: 39px;
    color: #fff;
    background-color: #6495ED;
    outline: none;
    border: 2px solid #6495ED;
    cursor: pointer;
}

.bottom{
    background-color: #000;
    margin-top: 2.6%;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bottom span{
    margin-left: 5%;
}

.bottom a{
    margin-right: 5%;
}

/*-----Responsiveness---------*/

.fa-solid.fa-circle-xmark{
    display: none;
}

.fa-solid.fa-bars{
    display: none;
}

@media only screen and  (max-width: 468px){
    #header{
        width: 100%;
        height: 100vh;
        background-size: cover;
        background-position: center;
        animation: animate 16s ease-in-out infinite;
    }
    .fa-solid.fa-bars{
        display: block;
        font-size: 20px;
        left: 80px;
        color: #fff;
    }

    .fa-solid.fa-circle-xmark{
        display: block;
        font-size: 20px;
        color: #fff;
    }

    .btn-1{
        display: none;
    }

    .header-text{
        margin-top: 30%;
        font-size: 12.5px;
    }

    .btn-2{
        color: #fff;
        background-color: #6495ED;
        border: 2px solid #6495ED;
        border-radius: 3px;
        padding:4px 6px;
        font-weight: 600;
        font-size: 13px;
        cursor: pointer;
        margin-top: 3%;
        left: 100%;
        margin-left: 5%;
    }
    
    .nav ul{
        background: #004b99;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-right: 40px;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.8s;
    }

    nav ul li{
        display: block;
        margin: 20px;
    }

    nav ul .fa-solid.fa-circle-xmark{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    .fa-solid.fa-magnifying-glass{
        font-size: 17px;
        color: #fff;
        cursor: pointer;
        margin-left: 190px;
    }

    .logo{
        height: 35px;
        margin: 10px;
        cursor: pointer;
    }

    .col-1 img{
        height: 170px;
        margin-left:0%;
    }

    .col-2{
        flex-basis: 85%;
    }
    
    .col-2 {
        margin-top: 3%;
        margin-right: 0%;
    }

    #text-pur{
        font-size: 12px;
    }

    .line-2{
        margin-top: 4%;
    }

    .subtitle-1{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 6%;
        font-size: 18px;
    }
    
    .text-1{
        text-align: center;
        margin: 2%;
        font-size: 15px;
    }

    .text-2{
        text-align: center;
        margin-top: 0%;
        font-size: 15px;
    }

    .logos-1{
        display: block;
        margin-top: 3%;
        margin-left: 13%;
        margin-right: 13%;
    }
    
    .logos-2{
        display: block;
        align-items: center;
        justify-content: space-between;
        margin-top: 3%;
        margin-left: 30%;
        margin-right: 30%;
    }

    .subtitle-2{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 70%;
        font-size: 18px;
    }

    .subtitle-3{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: -13%;
        font-size: 18px;
    }

    .work-img img{
        height: 100px;
        padding: 10px;
        text-align: center;
        transition: background 0.5s, transform 0.5s;
     }

     .work-img p{
        font-size: 15px;
        color: #6495ED;
        position: relative;
    }

    .list{
        border: 0px solid black;
        height: 90%;
        cursor: pointer;
    }
    
    #footer{
        width: 100%;
        height: 70vh;
        background-color: #19376D;
        margin-top: 900px;
    }

    .useful-link{
        display: none;
    }
    .socials{
        color: #fff;
        display: inline-block;
        text-align: center;
    }
    .ft-head{
        color: #fff;
        margin-top: 2%;
        text-align: center;
    }
    .logo-4{
        display: none;
    }
    .contact{
        display: block;
        position: absolute;
        left: 5%;
        margin-top: 20px;
        font-size: 12px;
    }

    .socials p{
        font-size: 14px;
    }
    
    .contact p{
        color: #fff;
    }
    
    .contact a{
        color: #fff;
    }
    
    .newsletter{
        display: block;
        left: 5%;
        margin-top: 170px;
        font-size: 12px;
    }
    
    .newsletter p{
        color: #fff;
    }
    
    .newsletter input{
        width: 200px;
        height: 40px;
        padding: 8px;
        outline: none;
    }
    
    .newsletter button{
        width: 100px;
        height: 39px;
        color: #fff;
        background-color: #6495ED;
        outline: none;
        border: 2px solid #6495ED;
        cursor: pointer;
    }
    
    .bottom{
        background-color: #000;
        margin-top: 5%;
        height: 50px;
    }
    
    .bottom span{
        margin-left: 60px;
        font-size: 12px;
        display: block;
        text-align: center;
    }
    
    .bottom a{
        text-align: center;
        font-size: 15px;
        display: none;

    }
}


    




